/__ frontend/src/index.css __/

body 
{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #282c34;
}
.todo-title 
{
    cursor: pointer;
}
.completed-todo 
{
    text-decoration: line-through;
}
.tab-list > span 
{
    padding: 5px 8px;
    border: 1px solid #282c34;
    border-radius: 10px;
    margin-right: 5px;
    cursor: pointer;
}
.tab-list > span.active 
{
    background-color: #282c34;
    color: #ffffff;
}
